<h3 class='mt-2'>QR支払い</h3>
<div class='text-center'>
  <%= form_for :pay, url: pay_path, method: :get, remote: true, html: { class: 'form-signin p-2' } do |f| %>
    <%= f.hidden_field :qrcode_text, class: 'form-control' %>
    <%= f.submit '送信', id: 'payButton', class: 'btn btn-secondary btn-block', style: 'display:none' %>
  <% end %>
  <label class=qrcode-text-btn><input type=file accept="image/*" capture=environment onchange="openQRCamera(this);" tabindex=-1 style='display:none'></label> 
  <label>QRコードを撮影</label></br>
  <button type="button" id='openCamera' class="btn btn-secondary">カメラを起動</button>
</div>

<!-- Button trigger modal -->
<button type="button" id='openPayModalButton' class="btn btn-secondary" data-toggle="modal" data-target="#payModalCenter" style="display:none">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="payModalCenter" tabindex="-1" role="dialog" aria-labelledby="payModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="payModalCenterTitle">支払い</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div class='pay'></div>
        <div class='amount'></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
        <%= form_for @order, url: orders_path do |f| %>
          <%= f.hidden_field :payment_user_id, value: @current_user.id, class: 'form-control' %>
          <%= f.hidden_field :receiving_user_id, class: 'form-control' %>
          <%= f.hidden_field :amount, class: 'form-control' %>
          <%= f.submit '支払う', class: 'btn btn-secondary', data: { disable_with: '支払い処理中' } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
