<!DOCTYPE html>
<html>
  <head>
    <title>wao:Pay</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class='sticky-top bg-white'>
      <nav class="navbar navbar-dark bg-secondary justify-content-center pt-3">
        <img src="assets/logo.svg" height='30px'>
      </nav>
      <%= yield :menu %>
    </header>
    <div class="container mb-4">
      <%= yield %>
    </div>
    <footer class='fixed-bottom bg-secondary text-center pb-1'>
      <%= link_to image_tag('wao_logo.svg', height: '15px'), 'https://wao.bz/', target: '_blank' %>
    </footer>
  </body>
</html>
